lxml
requests
setuptools<81
pymongo
pyramid>=2.0.2,<2.1
cornice
cornice_swagger
colander
python-slugify
scielo-clea @ git+https://github.com/scieloorg/clea@v0.4.5
waitress
prometheus_client
sentry-sdk
gunicorn>=23,<24
